html,
body{
    height: 1100px;
}

textarea::placeholder,
input::placeholder {
    color: #E0DFDE;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*ヘッダー*/
.header{
    padding: 10px 20px;
    border-bottom: 1px solid #F4F4F4;
}
@font-face{
    font-family: jsMath-cmti10;
    src: url('../fonts/jsMath-cmsy10.ttf') format('truetype');
}
.header__heading-logo{
    color: #F5C800;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
}

/*コンテンツ*/
.content{
    display: flex;
    height: 100%;
}
.content__heading{
    font-weight: 600;
    font-size: 32px;
}

 /*ボタン*/
.btn{
    width: 240px;
    height: 44px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

